In [3]:
Scores = {'Virat':90,'Rahul':80,'Rohit':70,'Hardik':60,'Ashwin':50,'Jadeja':40}
Scores

{'Virat': 90,
 'Rahul': 80,
 'Rohit': 70,
 'Hardik': 60,
 'Ashwin': 50,
 'Jadeja': 40}

In [7]:
Scores.update({"Jadeja":100})
Scores

{'Virat': 90,
 'Rahul': 80,
 'Rohit': 70,
 'Hardik': 60,
 'Ashwin': 50,
 'Jadeja': 100}

In [9]:
Scores.update({"Hardik":25,"Rahaney":45})
Scores

{'Virat': 90,
 'Rahul': 80,
 'Rohit': 70,
 'Hardik': 25,
 'Ashwin': 50,
 'Jadeja': 100,
 'Rahaney': 45}

In [11]:
Scores.setdefault("Rahul",60)
Scores

{'Virat': 90,
 'Rahul': 80,
 'Rohit': 70,
 'Hardik': 25,
 'Ashwin': 50,
 'Jadeja': 100,
 'Rahaney': 45}

In [13]:
Scores.setdefault("Pujara",55)
Scores

{'Virat': 90,
 'Rahul': 80,
 'Rohit': 70,
 'Hardik': 25,
 'Ashwin': 50,
 'Jadeja': 100,
 'Rahaney': 45,
 'Pujara': 55}

In [23]:
Scores.popitem()
Scores

{'Virat': 90,
 'Rahul': 80,
 'Rohit': 70,
 'Hardik': 25,
 'Ashwin': 50,
 'Jadeja': 100}

In [25]:
Scores.pop("Ashwin")
Scores

{'Virat': 90, 'Rahul': 80, 'Rohit': 70, 'Hardik': 25, 'Jadeja': 100}

In [29]:
Scores.get("Rohit")

70

In [31]:
# fromkeys() to create a new dict
list1 = ["A","B","C","D"]
my_dict = dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [33]:
my_dict.update({"A":10,"B":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': None}

In [35]:
# for loop to update Hardik score to 20
print(Scores.keys())
print(Scores.values())
print(Scores.items())

dict_keys(['Virat', 'Rahul', 'Rohit', 'Hardik', 'Jadeja'])
dict_values([90, 80, 70, 25, 100])
dict_items([('Virat', 90), ('Rahul', 80), ('Rohit', 70), ('Hardik', 25), ('Jadeja', 100)])

In [41]:
for k in Scores.keys():
    if k == 'Hardik':
        Scores[k] = 20
Scores

{'Virat': 90, 'Rahul': 80, 'Rohit': 70, 'Hardik': 20, 'Jadeja': 100}

In [57]:
Scores_list = []
for v in Scores.values():
    Scores_list.append(v)
print(Scores_list)
print("Total Score: ", sum(Scores_list))

[90, 80, 70, 20, 100]
Total Score:  360

In [61]:
total_score = sum(Scores.values())
print(total_score)

for k,v in Scores.items():
    print(f"Contribution of {k} to total score: {(v/total_score)*100}")

360
Contribution of Virat to total score: 25.0
Contribution of Rahul to total score: 22.22222222222222
Contribution of Rohit to total score: 19.444444444444446
Contribution of Hardik to total score: 5.555555555555555
Contribution of Jadeja to total score: 27.77777777777778

In [63]:
subject1 = float(input("Enter marks for Subject 1: "))
subject2 = float(input("Enter marks for Subject 2: "))
subject3 = float(input("Enter marks for Subject 3: "))

average = (subject1 + subject2 + subject3) / 3

if average >= 90:
    grade = "A"
elif 80 <= average < 90:
    grade = "B"
elif 70 <= average < 80:
    grade = "C"
else:
    grade = "Fail"

print(f"Average: {average:.2f}")
print(f"Grade: {grade}")

Enter marks for Subject 1:  50
Enter marks for Subject 2:  60
Enter marks for Subject 3:  30

Average: 46.67
Grade: Fail