In [1]:
num = 6
if num %2 == 0:
    print("even")
else:
    print("odd")

even

In [3]:
print("even") if num %2 == 0 else print("odd")

even

In [7]:
x = 10
result = "Positive" if x > 0 else "Negative"
print(result)

Positive

In [9]:
num = int(input("Enter a number: "))
result = "Positive" if num > 0 else ("Negative" if num < 0 else "Zero")
print(result)

Enter a number:  -400

Negative

In [11]:
L =[1,3,5,7,9,44,66,89,35]
[2*x for x in L ]

[2, 6, 10, 14, 18, 88, 132, 178, 70]

In [13]:
# print even numbers
L =[1,3,5,7,9,44,66,89,35]
[x for x in L if x%2 == 0]

[44, 66]

In [15]:
L =[1,3,5,7,9,44,66,89,35]
[x for x in L if x%2 != 0]

[1, 3, 5, 7, 9, 89, 35]

In [31]:
sal = [40000, 60000, 80000, 45000]
updated_sal = [x * 1.2 if x <= 50000 else x for x in sal]
print(updated_sal)

[48000.0, 60000, 80000, 54000.0]

In [35]:
d1 = {'Ram':[70,71,98,100], 'John':[56,98,67,65], 'Neelu': [54, 34, 23, 77]}
d1

{'Ram': [70, 71, 98, 100], 'John': [56, 98, 67, 65], 'Neelu': [54, 34, 23, 77]}

In [37]:
{k:sum(v)/len(v) for k,v in d1.items()}

{'Ram': 84.75, 'John': 71.5, 'Neelu': 47.0}

In [43]:
def mean_value(given_list):
    total = sum(given_list)
    average_value = total/len(given_list)
    return average_value

In [45]:
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [65]:
# Greetings
def greet(name = "Niharika"):
    print(f"Good Morning {name}!")

In [67]:
greet()

Good Morning Niharika!

In [73]:
def avg_value(*n):
    l = len(n)
    average = sum(n)/1
    return average

In [81]:
avg_value(10,20,30,-400,50,-600)

-890.0