In [5]:
num = int(input())
if num%2 == 0:
    print("Even")
else:
    print("Odd")

 20

Even

In [7]:
n = int(input(""))
print("Even" if n%2==0 else "Odd")

 20

Even

In [8]:
age = int(input("Enter the age:"))
print("Adult" if  age>=18 else "Minor")

Enter the age: 52

Adult

In [13]:
n = int(input())
result = "Positive" if n>0 else ("Negative" if num < 0 else "Zero")
print(result)

 25

Positive

In [20]:
#Comprehension
#List Comprehension
lst = [10,20,1,2,1,40,51]
lst2 = [t for t in lst if t%2 != 0]
for i in lst2:
    print(i, end= " ")

1 1 51

In [16]:
#Dictionary comprehension
dct = {"A":100,"B":35}
dct2 = {t:k*3 for t, k in dct.items()}
for t,k in dct2.items():
    print(t,k)

A 300
B 105

In [37]:
salary = [23000,45000,560000,66800,56900]
highsalary = [(t+((20*t)/100)) for t in salary if t < 50000]
print(highsalary)
for i in salary:
    for j in salary:
        if j < 50000:
            salary.remove(j)

print(sorted(salary+highsalary))

[27600.0, 54000.0]
[27600.0, 54000.0, 56900, 66800, 560000]

In [40]:
dct = {"Rahul" : [12,13,14,14],"Ravi":[10,15,15,15]}
dct2 = {t:(sum(k)/len(k)) for t,k in dct.items() }
print(dct2)
for t,k in dct2.items():
    print(t,k)

{'Rahul': 13.25, 'Ravi': 13.75}
Rahul 13.25
Ravi 13.75

In [59]:
def secret_code(message):
    code = []
    for i in message:
        if i == " ":
            code.append(i)
        else:
            code.append(str(ord(i)))
    return "".join(code)
secret_code("Help Me")

'72101108112 77101'

In [56]:
def greet(message):
    print(f"Good Morning, {message}!")
greet("Abhinav")

Good Morning, Abhinav!

In [63]:
def avg(*n):
    return (sum(n)/len(n))
avg(34,59,78)

57.0