In [1]:
# Conventional IF-ELSE conditons
num=6 
if num%2==0:
    print("Even")
else:
    print("Odd")

Even

In [19]:
#Nested IF-ELSE conditions
#Ex.1
num_1=2 
num_2=4
if num_1==num_2:
    print("Equal")
elif num_1 % num_2:
    print("Divisible by 2") 

else:
    print("Not Equal")

Divisible by 2

In [21]:
#Ex.2 
a=int(input("Enter an integer:")) 
if a>0:
    print("Positive") 
else:
    print("Negative")

Enter an integer: -200

Negative

In [25]:
#list comprehension 
l=[34,29,67,89,10] 
[2*x for x in l if x%2==0]

[68, 20]

In [55]:
#print salaries <=50000 
sal=[30000,85000,67000,30000]
[(x*1.2 if x<=50000 else x) for x in sal]

[36000.0, 85000, 67000, 36000.0]

In [65]:
#dictionary comprehension 
d1={'Raju':[89,100,75,92] ,'jithu':[56,78,93,29]}
d1
{k:sum(v)/len(v) for k,v in d1.items()}

{'Raju': 89.0, 'jithu': 64.0}

In [75]:
#define function reusable 
def mean_value(given_list): 
    total=sum(given_list) 
    avg_value=total/len(given_list) 
    return avg_value

In [77]:
#call the function 
L=[1,3,4,9,10] 
mean_value(L)

5.4

In [89]:
#Greet with 'good morning' with ur name call the function with your name
def greet(name):
    print(f"Good morning {name}!")

In [91]:
greet("Dhanush")

Good morning Dhanush!

In [95]:
#function with variable no.of arguments 
def avg_values(*n):
    l=len(n)
    avg=sum(n)/l
    return avg

In [97]:
avg_values(10,60,100,)

56.666666666666664